@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Lusitana|Sansita');

#content {
    background-color: skyblue;
    text-align: center;
}

.group {
    border-style: solid;
    margin: auto;
    background-color: aliceblue;
    max-width: 80%;
    padding:.5em;
    margin-bottom: .2em;
}

.group2 {
    margin: auto;
    text-align: center;

}

.group3 {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: auto;
    font-size: 1.2em;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 1em;
    line-height: 2.5em;
    margin-top: -1.5em;
    padding:0;
}

img {
    opacity: 0.6;
    border-style: double;
    border-color: orangered;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Lusitana','Droid Serif', serif;
}

p{
    font-family: 'Sansita','Droid Sans', sans-serif;
}

footer{
    text-align: center;

}

#dots {
    list-style-type: none;
}

#degree {
    width: 3em;
    text-align: center;
    margin-top: -3.5em;
    font-size: 1.8em;
}
